@media screen and (min-width: 768px) {

/* ---------- HEADER ---------- */

.logo{
width: 200px;
}

#menu {
display: none;
}

.navigation {
display: flex;
position: static;
flex-direction: row;
background: none;
width: auto;
}

.navigation li {
border: none;
}

.navigation a {
padding: 0.5rem 1rem;
}

/* ---------- MAIN LAYOUT ---------- */

main {
max-width: 1000px;
margin: auto;
}

/* ---------- SECTIONS GRID ---------- */

main {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

main h1 {
grid-column: span 2;
}

section:nth-of-type(3) {
grid-column: span 2;
}

/* ---------- COURSES GRID ---------- */

#courses {
grid-template-columns: repeat(3, 1fr);
}

}